@import url(https://fonts.googleapis.com/css?family=Montserrat);

body{
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  padding:0;
  margin:0;
}

.title{
  position: absolute;
  height: 150px;
  top: 24px;
  width:100%;
  margin:auto;
  overflow:hidden;
}

header #eventLocation{
  position: absolute;
  width: 115px;
  height: 14px;
  left: calc(50% - 115px/2 - 117px);
  top: 13px;

  font-family: PingFangHK-Regular, sans-serif;
  font-size: 10px;

  color: #979797;
}

header #eventName{
  position: absolute;
  width: 160px;
  height: 59px;
  left: calc(50% - 160px/2 - 94.5px);
  top: 33px;

  font-family: PingFangHK-Regular, sans-serif;
  font-size: 24px;
  line-height: 1.2;

  color: #000000;
}

#eventDate{
  position: absolute;
  width: 253px;
  height: 21px;
  left: calc(50% - 253px/2 - 48px);
  top: 95px;

  font-family: Montserrat, sans-serif;
  font-size: 18px;

  color: #4F4F4F;
}

#eventTime{
  position: absolute;
  width: 138px;
  height: 13px;
  left: calc(50% - 138px/2 - 105.5px);
  top: 126px;

  font-family: PingFangHK-Regular, sans-serif;
  font-size: 10px;

  color: #979797;
}

#icon{
  position: absolute;
  width: 35px;
  height: 35px;
  left: calc(50% - 35px/2 + 154px);
  top: 16px;
}

.image{
  position: absolute;
  width: 376px;
  height: 274px;
  left: calc(50% - 376px/2 + 0.5px);
  top: 175px;
  margin:auto;
  overflow:hidden;
}

#evetImage{
  position: absolute;
  width: 376px;
  height: 276px;
  left: calc(50% - 376px/2);
  top: 0px;
}

.weather{
  position: absolute;
  width: 374px;
  height: 203px;
  left: calc(50% - 374px/2 - 0.5px);
  top: 449px;
}

.temperature{
  position: absolute;
  width: 346px;
  height: 80px;
  left: calc(50% - 346px/2 + 1px);
  top: 14px;
  box-shadow: 1px 1px 4px rgba(151, 151, 151, 0.4);
}

#temperatureHeader{
  position: absolute;
  width: 58px;
  height: 28px;
  left: calc(50% - 58px/2 - 132px);
  top: 9px;

  font-family: PingFangHK-Regular, sans-serif;
  font-size: 14px;

  color: #4F4F4F;
}

#temperatureSource{
  position: absolute;
  width: 94px;
  height: 14px;
  left: calc(50% - 94px/2 + 82px);
  top: 10px;

  font-family: PingFangHK-Regular, sans-serif;
  font-size: 10px;

  color: #4F4F4F;
}

#chinaDaily{
  position: absolute;
  width: 66px;
  height: 28px;
  left: calc(50% - 66px/2 + 138px);
  top: 7px;
}

#temperatureSubtitle{
  position: absolute;
  width: 87px;
  height: 47px;
  left: calc(50% - 87px/2 - 91.5px);
  top: 32px;

  font-family: PingFangHK-Regular, sans-serif;
  font-size: 14px;

  color: #979797;
}

.temperatureLow{
  position: absolute;
  width: 61px;
  height: 54px;
  left: calc(50% - 61px/2 + 14.5px);
  top: 33px;
}

#lowValue{
  position: absolute;
  width: 17px;
  height: 32px;
  left: calc(50% - 17px/2 + 6px);
  top: 17px;

  font-family: Montserrat, sans-serif;
  font-size: 24px;

  color: #000000;
}

#lowUnit{
  position: absolute;
  width: 16px;
  height: 19px;
  left: calc(50% - 16px/2 + 22.5px);
  top: 31px;

  font-family: Montserrat, sans-serif;
  font-size: 10px;

  color: #979797;
}

#low{
  position: absolute;
  width: 61px;
  height: 54px;
  left: calc(50% - 61px/2);
  top: 0px;

  font-family: PingFangHK-Regular, sans-serif;
  font-size: 14px;

  color: #979797;
}

.temperatureHigh{
  position: absolute;
  width: 58px;
  height: 42px;
  left: calc(50% - 58px/2 + 104px);
  top: 33px;
}

#highValue{
  position: absolute;
  width: 16px;
  height: 25px;
  left: calc(50% - 16px/2 + 9px);
  top: 17px;

  font-family: Montserrat, sans-serif;
  font-size: 24px;

  color: #000000;
}

#highUnit{
  position: absolute;
  width: 13px;
  height: 14px;
  left: calc(50% - 13px/2 + 22.5px);
  top: 29px;

  font-family: Montserrat, sans-serif;
  font-size: 10px;

  color: #979797;
}

#high{
  position: absolute;
  width: 58px;
  height: 36px;
  left: calc(50% - 58px/2);
  top: 0px;

  font-family: PingFangHK-Regular, sans-serif;
  font-size: 14px;

  color: #979797;
}

.airQuality{
  position: absolute;
  width: 346px;
  height: 80px;
  left: calc(50% - 346px/2 + 1px);
  top: 108px;

  background: #FFFFFF;
  box-shadow: 1px 1px 4px rgba(151, 151, 151, 0.4);
}

#airQualityHeader{
  position: absolute;
  width: 66px;
  height: 13px;
  left: calc(50% - 66px/2 - 129px);
  top: 10px;

  font-family: PingFangHK-Regular, sans-serif;
  font-size: 14px;

  color: #4F4F4F;
}

#airQualitySource{
  position: absolute;
  width: 78px;
  height: 14px;
  left: calc(50% - 78px/2 + 66px);
  top: 11px;

  font-family: PingFangHK-Regular, sans-serif;
  font-size: 10px;

  color: #4F4F4F;
}

#shanghaiDaily{
  position: absolute;
  width: 68px;
  height: 24.73px;
  left: calc(50% - 68px/2 + 131px);
  top: 6px;
}

#box{
  position: absolute;
  left: calc(50% - 58px/2 + 29px);
  top: 35.8px;
}

.levels{
  font-family: PingFangHK-Regular, sans-serif;
  font-size: 10px;

  color: #979797;
}

#level1{
  position: absolute;
  width: 58px;
  height: 9px;
  top: 36.5px;
  left: calc(50% - 58px/2 - 134px);
}

#level2{
  position: absolute;
  width: 58px;
  height: 9px;
  top: 36.5px;
  left: calc(50% - 58px/2 - 79px);
}

#level3{
  position: absolute;
  width: 58px;
  height: 9px;
  top: 36.5px;
  left: calc(50% - 58px/2 - 24px);
}

#level4{
  position: absolute;
  width: 58px;
  height: 9px;
  top: 36.5px;
  left: calc(50% - 58px/2 + 31px);
}

#level5{
  position: absolute;
  width: 58px;
  height: 9px;
  top: 36.5px;
  left: calc(50% - 58px/2 + 86px);
}

#level6{
  position: absolute;
  width: 58px;
  height: 9px;
  top: 36.5px;
  left: calc(50% - 58px/2 + 141px);
}

.levelDescription{
  font-family: PingFangHK-Regular, sans-serif;
  font-size: 10px;

  color: #979797;
}

#level1Description{
  position: absolute;
  width: 58px;
  height: 11px;
  left: calc(50% - 58px/2 - 134.5px);
  top: 56.5px;
}

#level2Description{
  position: absolute;
  width: 58px;
  height: 11px;
  left: calc(50% - 58px/2 - 79.5px);
  top: 56.5px;
}

#level3Description{
  position: absolute;
  width: 58px;
  height: 11px;
  left: calc(50% - 58px/2 - 24.5px);
  top: 56.5px;
}

#level4Description{
  position: absolute;
  width: 58px;
  height: 11px;
  left: calc(50% - 58px/2 + 30.5px);
  top: 56.5px;
}

#level5Description{
  position: absolute;
  width: 58px;
  height: 11px;
  left: calc(50% - 58px/2 + 85.5px);
  top: 56.5px;
}

#level6Description{
  position: absolute;
  width: 58px;
  height: 11px;
  left: calc(50% - 58px/2 + 140.5px);
  top: 56.5px;
}

#colorBar1{
  position: absolute;
  width: 54px;
  height: 6px;
  left: calc(50% - 54px/2 - 137.5px);
  top: 51px;

  /* PM2.5-1 */
  background: #00E400;
}

#colorBar2{
  position: absolute;
  width: 54px;
  height: 6px;
  left: calc(50% - 54px/2 - 82.5px);
  top: 51px;

  /* PM2.5-2 */
  background: #FFFF00;
}

#colorBar3{
  position: absolute;
  width: 54px;
  height: 6px;
  left: calc(50% - 54px/2 - 27.5px);
  top: 51px;

  /* PM2.5-3 */
  background: #FF7E00;
}

#colorBar4{
  position: absolute;
  width: 54px;
  height: 6px;
  left: calc(50% - 54px/2 + 27.5px);
  top: 51px;

  background: #FF0000;
}

#colorBar5{
  position: absolute;
  width: 54px;
  height: 6px;
  left: calc(50% - 54px/2 + 82.5px);
  top: 51px;

  /* PM2.5-5 */
  background: #99004C;
}

#colorBar6{
  position: absolute;
  width: 54px;
  height: 6px;
  left: calc(50% - 54px/2 + 137.5px);
  top: 51px;

  /* PM2.5-6 */
  background: #7E0023;
}

.description{
  position: absolute;
  width: 375px;
  height: 227px;
  left: calc(50% - 375px/2);
  top: 652px;

  background: #FFFFFF;
}

.paragraph{
  position: absolute;
  width: 333px;
  height: 214px;
  left: calc(50% - 333px/2 + 2px);
  top: 8px;
}

#eventDetail{
  position: absolute;
  width: 160px;
  height: 18px;
  left: calc(50% - 160px/2 - 86.5px);
  top: 0.5px;

  font-family: PingFangHK-Regular, sans-serif;
  font-size: 14px;

  color: #4F4F4F;
}

/* #dropDownChevron{
  position: absolute;
  width: 6px;
  height: 12px;
  left: calc(50% - 6px/2 + 165px);
  top: 5.5px;

  border: 2px solid #AAAAAA;
  transform: rotate(90deg);
} */

#detailedPointForm{
  position: absolute;
  width: 333px;
  height: 180px;
  left: calc(50% - 333px/2);
  top: 34px;

  font-family: PingFangHK-Regular, sans-serif;
  font-style: normal;
  font-weight: 100;
  line-height: 13px;
  font-size: 10px;

  color: #979797;
}

.suitableFor{
  position: absolute;
  width: 375px;
  height: 125px;
  left: calc(50% - 375px/2);
  top: 879px;

  background: #FFFFFF;
}

#suitableForTitle{
  position: absolute;
  width: 160px;
  height: 18px;
  left: calc(50% - 160px/2 - 84.5px);
  top: 15px;

  font-family: PingFangHK-Regular, sans-serif;
  font-size: 14px;

  color: #4F4F4F;
}

.suitableIcons{
  position: absolute;
  width: 340px;
  height: 50px;
  left: calc(50% - 340px/2 + 5.5px);
  top: 46px;

  background: #FFFFFF;
}

#iconFamily{
  position: absolute;
  width: 50px;
  height: 50px;
  left: calc(50% - 50px/2 - 145px);
  top: 0px;

  opacity: 0.77;
}

#iconFriends{
  position: absolute;
  width: 50px;
  height: 50px;
  left: calc(50% - 50px/2 - 87px);
  top: 0px;

  opacity: 0.77;
}

#iconLover{
  position: absolute;
  width: 50px;
  height: 50px;
  left: calc(50% - 50px/2 - 29px);
  top: 0px;

  opacity: 0.77;
}

#iconBaby{
  position: absolute;
  width: 50px;
  height: 50px;
  left: calc(50% - 50px/2 + 29px);
  top: 0px;

  opacity: 0.3;
}

#iconElderly{
  position: absolute;
  width: 50px;
  height: 50px;
  left: calc(50% - 50px/2 + 87px);
  top: 0px;

  opacity: 0.3;
}

#iconPet{

  position: absolute;
  width: 50px;
  height: 50px;
  left: calc(50% - 50px/2 + 145px);
  top: 0px;

  opacity: 0.3;
}
