@import url(https://fonts.googleapis.com/css?family=Montserrat);

body{
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  padding:0;
  margin:0;
}

.title{
  position: absolute;
  height: 150px;
  top: 24px;
  width:100%;
  margin:auto;
  overflow:hidden;
}

header #eventLocation{
  position: absolute;
  width: 115px;
  height: 14px;
  left: calc(50% - 115px/2 - 117px);
  top: 13px;

  font-family: PingFangHK-Regular, sans-serif;
  font-size: 10px;

  color: #979797;
}

header #eventName{
  position: absolute;
  width: 160px;
  height: 59px;
  left: calc(50% - 160px/2 - 94.5px);
  top: 33px;

  font-family: PingFangHK-Regular, sans-serif;
  font-size: 24px;
  line-height: 1.2;

  color: #000000;
}

#eventDate{
  position: absolute;
  width: 253px;
  height: 21px;
  left: calc(50% - 253px/2 - 48px);
  top: 95px;

  font-family: Montserrat, sans-serif;
  font-size: 18px;

  color: #4F4F4F;
}

#eventTime{
  position: absolute;
  width: 138px;
  height: 13px;
  left: calc(50% - 138px/2 - 105.5px);
  top: 126px;

  font-family: PingFangHK-Regular, sans-serif;
  font-size: 10px;

  color: #979797;
}

#icon{
  position: absolute;
  width: 35px;
  height: 35px;
  left: calc(50% - 35px/2 + 154px);
  top: 16px;
}

.image{
  position: absolute;
  width: 376px;
  height: 274px;
  left: calc(50% - 376px/2 + 0.5px);
  top: 175px;
  margin:auto;
  overflow:hidden;
}

#evetImage{
  position: absolute;
  width: 376px;
  height: 276px;
  left: calc(50% - 376px/2);
  top: 0px;
}

.weather{
  position: absolute;
  width: 374px;
  height: 203px;
  left: calc(50% - 374px/2 - 0.5px);
  top: 449px;
}

.temperature{
  position: absolute;
  width: 346px;
  height: 80px;
  left: calc(50% - 346px/2 + 1px);
  top: 14px;
  box-shadow: 1px 1px 4px rgba(151, 151, 151, 0.4);
}

#temperatureHeader{
  position: absolute;
  width: 58px;
  height: 28px;
  left: calc(50% - 58px/2 - 135px);
  top: 3px;

  font-family: PingFangHK-Regular, sans-serif;
  font-size: 14px;

  color: #4F4F4F;
}

#temperatureSource{
  position: absolute;
  width: 94px;
  height: 14px;
  left: calc(50% - 94px/2 + 82px);
  top: 10px;

  font-family: PingFangHK-Regular, sans-serif;
  font-size: 10px;

  color: #4F4F4F;
}

#chinaDaily{
  position: absolute;
  width: 66px;
  height: 28px;
  left: calc(50% - 66px/2 + 138px);
  top: 7px;
}

#temperatureSubtitle{
  position: absolute;
  width: 87px;
  height: 47px;
  left: calc(50% - 87px/2 - 91.5px);
  top: 29px;

  font-family: PingFangHK-Regular, sans-serif;
  font-size: 14px;

color: #979797;
}
