@import url(https://fonts.googleapis.com/css?family=Montserrat);

body{
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight:100;
  padding:0;
  margin:0;
}

.title{
  position: absolute;
  height: 150px;
  top: 24px;
  width:100%;
  margin:auto;
  overflow:hidden;
}

header #eventLocation{
  position: absolute;
  width: 115px;
  height: 18px;
  left: 13px;
  top: 9px;

  font-family: PingFangHK-Regular, sans-serif;
  font-size: 10px;

  color: #979797;
}

header #eventName{
  position: absolute;
  width: 160px;
  height: 72px;
  left: 13px;
  top: 23px;

  font-family: PingFangHK-Regular, sans-serif;
  font-size: 24px;

  color: #000000;
}

header #eventDate{
  position: absolute;
  width: 253px;
  height: 21px;
  left: 13px;
  top: 95px;

  font-family: Montserrat, sans-serif;
  font-size: 18px;

  color: #4F4F4F;
}

header #eventTime{
  position: absolute;
  width: 138px;
  height: 13px;
  left: 13px;
  top: 126px;

  font-family: PingFangHK-Regular, sans-serif;
  font-size: 10px;

  color: #979797;
}

header #icon{
  position: absolute;
  width: 35px;
  height: 35px;
  right: 16px;
  top: 16px;
}

.image{
  position: absolute;
  width: 376px;
  height: 274px;
  top: 175px;
  margin:auto;
  overflow:hidden;
}

image #evetImage{
  position: absolute;
  width: 376px;
  height: 276px;
  left: 0px;
  top: 0px;
}
