body{
  padding-top: 30px;
  padding-bottom: 30px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #4F4F4F;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #4F4F4F;
  cursor: pointer;
}

.question{
  font-size: 16px;
  font-weight: 500;
}

.annotation{
  font-size: 14px;
}

.slidecontainer{
  padding-bottom: 10px;
}

#newOutletAnnotation{
  padding-top: 5px;
}

#unitDays{
  padding-top: 8px;
  padding-left: 10px;
}
