body{
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

#survey{
  padding-top: 40px;
  position: fixed;
  right: 20px;
  left: 20px;
  margin-right: auto;
  margin-left: auto;
  min-height: 10em;
  width: 340px;
}

.mainQuestion{
  font-family: PingFangHK-Regular, sans-serif;
  font-size: 14px;
  display: inline;
}

.question{
  padding-top: 20px;
  display: center;
}

.questionPrompt{
  font-family: PingFangHK-Regular, sans-serif;
  font-size: 12px;
  weight: 500;
  padding-bottom: 5px;
}

.questionAnswer{
  padding-left: 10px;
}

.form-check-input{
  padding-top: 10px;
}

.form-check-label{
  font-size: 10px;
  color: #4F4F4F;
}

.trustOption{
  padding-bottom: 30px;
}

.trustOptionPrompt{
  padding-top: 5px;
  display: flex;
  flex-direction: row;
}

.trustOptionText{
  font-size: 10px;
  color: #4F4F4F;
}

.trustOptionEg{
  font-size: 10px;
  color: #979797;
  padding-left: 10px;
}

.trustScaleLabel{
  position: absolute;
  width: 310px;
  display: flex;
  flex-direction: row;
  font-size: 10px;
  color: #979797;
  padding-top:5px;
  text-align: center;
}

#stateTrustScaleLabel1{
  width: 62px;
}

#stateTrustScaleLabel2{
  width: 62px;
}

#stateTrustScaleLabel3{
  width: 62px;
}

#stateTrustScaleLabel4{
  width: 62px;
}

#stateTrustScaleLabel5{
  width: 62px;
}

#privateTrustScaleLabel1{
  width: 62px;
}

#privateTrustScaleLabel2{
  width: 62px;
}

#privateTrustScaleLabel3{
  width: 62px;
}

#privateTrustScaleLabel4{
  width: 62px;
}

#privateTrustScaleLabel5{
  width: 62px;
}

#foreignTrustScaleLabel1{
  width: 62px;
}

#foreignTrustScaleLabel2{
  width: 62px;
}

#foreignTrustScaleLabel3{
  width: 62px;
}

#foreignTrustScaleLabel4{
  width: 62px;
}

#foreignTrustScaleLabel5{
  width: 62px;
}

#scaleDivider1{
  width: 62px;
}

#scaleDivider2{
  width: 62px;
}

#scaleDivider3{
  width: 62px;
}

#scaleDivider4{
  width: 62px;
}

#scaleDivider5{
  width: 62px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  z-index: -1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #4F4F4F;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #4F4F4F;
  cursor: pointer;
}

.sliderAmount{
  position: absolute;
  font-size: 10px;
}

.slidecontainer{
  width: 312px;
  padding-top: 10px;
  z-index: -1;
}

#stateScaleDivider{
  position: absolute;
  width: 308px;
  display: flex;
  flex-direction: row;
  font-size: 50px;
  color: #979797;
  top: 203px;
  text-align: right;
  left: 18px;
}

#privateScaleDivider{
  position: absolute;
  width: 308px;
  display: flex;
  flex-direction: row;
  font-size: 50px;
  color: #979797;
  top: 287px;
  text-align: right;
  left: 18px;
}

#foreignScaleDivider{
  position: absolute;
  width: 308px;
  display: flex;
  flex-direction: row;
  font-size: 50px;
  color: #979797;
  top: 371px;
  text-align: right;
  left: 18px;
}

#univerisity{
  width: 313px;
  height: 30px;
}

#unitDays{

}

#p1nextButton{
  display: flex;
  align-items: center;
  justify-content: center;
  position:fixed;
  bottom: 50px;
  left: 50px;
  right: 50px;
}

#p2nextButton{
  display: flex;
  align-items: center;
  justify-content: center;
  position:fixed;
  bottom: 50px;
  left: 50px;
  right: 50px;
}

#p3nextButton{
  display: flex;
  align-items: center;
  justify-content: center;
  position:fixed;
  bottom: 50px;
  left: 50px;
  right: 50px;
}

#p4nextButton{
  display: flex;
  align-items: center;
  justify-content: center;
  position:fixed;
  bottom: 50px;
  left: 50px;
  right: 50px;
}

#next{
  font-family: PingFangHK-Regular, sans-serif;
  font-size: 12px;
  text-align: center;

  color: #FFFFFF;
}

#button{
  width: 248px;
  height: 42px;

  /* ShanghaiGrey */
  background: #979797;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#lizzij{
  display: flex;
  align-items: center;
  justify-content: center;

}
