#survey{
  padding-top: 40px;
  position: fixed;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  min-height: 10em;
  width: 90%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.mainQuestion{
  font-family: PingFangHK-Regular, sans-serif;
  font-size: 14px;
  display: inline;
}

.question{
  padding-top: 15px;
  display: center;
}

.questionPrompt{
  font-family: PingFangHK-Regular, sans-serif;
  font-size: 12px;
  weight: 500;
  display: inline;
}

.questionAnswer{
  padding-left: 10px;
}

.form-check-input{
  padding-top: 10px;
}

.form-check-label{
  font-size: 10px;
  color: #4F4F4F;
}

.trustOption{
  padding-bottom: 12px;
}

.trustOptionPrompt{
  padding-top: 5px;
  display: flex;
  flex-direction: row;
}

.trustOptionText{
  font-size: 10px;
  color: #4F4F4F;
}

.trustOptionEg{
  font-size: 10px;
  color: #979797;
  padding-left: 10px;
}

.trustLabel{
  display: flex;
  flex-direction: row;
  font-size: 10px;
  color: #979797;
  padding-top:5px;
  text-align: center;
}

#trustLabel1{
  width: 18%
}

#trustLabel2{
  width: 18%
}

#trustLabel3{
  width: 18%
}

#trustLabel4{
  width: 18%
}

#trustLabel5{
  width: 18%
}

.slider {
  -webkit-appearance: none;
  width: 90%;
  height: 4px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #4F4F4F;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #4F4F4F;
  cursor: pointer;
}

.sliderAmount{
  font-size: 10px;
}

.slidecontainer{
  z-index: -1;
}





.nextButton{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

#next{
  font-family: PingFangHK-Regular, sans-serif;
  font-size: 12px;
  text-align: center;

  color: #FFFFFF;
}

#button{
  width: 248px;
  height: 42px;

  /* ShanghaiGrey */
  background: #979797;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#lizzij{
  display: flex;
  align-items: center;
  justify-content: center;
}
