body{
  padding-top: 30px;
  padding-bottom: 30px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #4F4F4F;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #4F4F4F;
  cursor: pointer;
}

.sliderAmount{
  font-size: 14px;
  padding-left: 2px;
}

.question{
  font-size: 16px;
  font-weight: 500;
  display: inline;
}

.annotation{
  font-size: 14px;
}

.slidecontainer{
  padding-bottom: 5px;
}

#newOutletAnnotation{
  padding-top: 10px;
}

#unitDays{
  padding-top: 8px;
  padding-left: 10px;
}

.txt-center {
  text-align: center;
}
.hide {
  display: none;
}

.clear {
  float: none;
  clear: both;
}

.starsLeft {
  width: 180px;
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  position: relative;
}


.starsLeft > label {
  float: right;
  display: inline;
  padding: 0;
  margin: 0;
  position: relative;
  width: 1.1em;
  cursor: pointer;
  color: #000;
}

.starsLeft > label:hover,
.starsLeft > label:hover ~ label,
.starsLeft > input.radio-btn:checked ~ label {
  color: transparent;
}

.starsLeft > label:hover:before,
.starsLeft > label:hover ~ label:before,
.starsLeft > input.radio-btn:checked ~ label:before,
.starsLeft > input.radio-btn:checked ~ label:before {
  content: "\2605";
  position: absolute;
  left: 0;
  color: #FFD700;
}

#rating1 {
  width: 180px;
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  position: relative;
}


#rating1 > label {
  float: right;
  display: inline;
  padding: 0;
  margin: 0;
  position: relative;
  width: 1.1em;
  cursor: pointer;
  color: #000;
}

#rating1 > label:hover,
#rating1 > label:hover ~ label,
#rating1 > input.radio-btn:checked ~ label {
  color: transparent;
}

#rating1 > label:hover:before,
#rating1 > label:hover ~ label:before,
#rating1 > input.radio-btn:checked ~ label:before,
#rating1 > input.radio-btn:checked ~ label:before {
  content: "\2605";
  position: absolute;
  left: 0;
  color: #FFD700;
}


#rating2 {
  width: 180px;
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  position: relative;
}


#rating2 > label {
  float: right;
  display: inline;
  padding: 0;
  margin: 0;
  position: relative;
  width: 1.1em;
  cursor: pointer;
  color: #000;
}

#rating2 > label:hover,
#rating2 > label:hover ~ label,
#rating2 > input.radio-btn:checked ~ label {
  color: transparent;
}

#rating2 > label:hover:before,
#rating2 > label:hover ~ label:before,
#rating2 > input.radio-btn:checked ~ label:before,
#rating2 > input.radio-btn:checked ~ label:before {
  content: "\2605";
  position: absolute;
  left: 0;
  color: #FFD700;
}


#rating3 {
  width: 180px;
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  position: relative;
}


#rating3 > label {
  float: right;
  display: inline;
  padding: 0;
  margin: 0;
  position: relative;
  width: 1.1em;
  cursor: pointer;
  color: #000;
}

#rating3 > label:hover,
#rating3 > label:hover ~ label,
#rating3 > input.radio-btn:checked ~ label {
  color: transparent;
}

#rating3 > label:hover:before,
#rating3 > label:hover ~ label:before,
#rating3 > input.radio-btn:checked ~ label:before,
#rating3 > input.radio-btn:checked ~ label:before {
  content: "\2605";
  position: absolute;
  left: 0;
  color: #FFD700;
}


#rating4 {
  width: 180px;
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  position: relative;
}


#rating4 > label {
  float: right;
  display: inline;
  padding: 0;
  margin: 0;
  position: relative;
  width: 1.1em;
  cursor: pointer;
  color: #000;
}

#rating4 > label:hover,
#rating4 > label:hover ~ label,
#rating4 > input.radio-btn:checked ~ label {
  color: transparent;
}

#rating4 > label:hover:before,
#rating4 > label:hover ~ label:before,
#rating4 > input.radio-btn:checked ~ label:before,
#rating4 > input.radio-btn:checked ~ label:before {
  content: "\2605";
  position: absolute;
  left: 0;
  color: #FFD700;
}
